:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --hamburger-size: 2rem;
	--hamburger-line-height:8%;
	--hamburger-line-color:#ffffff;
	--hamburger-animation-speed:600ms;
    
}

.nav-link {
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    color: var(--text-color);
    transition: .3s;

    text-transform: capitalize;
    position: relative;
    font-family: Roboto Condensed;
}


/* logo styling */




.logo_body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9%;
    background-color: transparent;
    width: fit-content;
  }
  
  .I{
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    position: relative;
    height: 20px;
    width: 8px;
    /* border: 1px solid red; */
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    animation: moveI 1.5s linear infinite alternate;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    background-color: rgb(155, 82, 82);;
    position: absolute;
    top: -10px; /* Initial position above the 'i' */
    border-radius: 100%;
    animation: moveDot 1.5s linear infinite alternate; /* Animation */
  
  }
  
  .label {
    font-size: 25px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: cursive; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .M {
    font-size: 25px;
    font-weight: bolder;
    color: rgb(155, 82, 82);;
    position: relative;
  }
  .sec {
    font-size:25px;
    font-weight: bolder;
    color: rgb(155, 82, 82);;
    position: relative;
  }
  @keyframes moveDot {
    0% {
        top: -9px; /* Start position */
        /* background-color: rgb(155, 82, 82); */
    }
    100% {
        top: -4px; /* End position */
    }
  }
  
  @keyframes moveI {
    0% {
        /* height: 10px; */
        top: 0px;
    }
    100% {
        top: 10px;
        height: -0px;
    }
  }
  




.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    width: 100%;
    animation: fadeInDown .3s ease-in-out 0s 1 normal none running;
    /* box-shadow: 0 2px 55px rgba(140, 144, 153, 0.32); */
    z-index: 99;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}


.header nav li:hover {
    color: var(--main-color);
}



.hamburger {
    border: none;
    border-radius: 50%;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger:hover {
    background: rgba(0, 0, 0, .1);
}

.hamburger:active {
    background: rgba(0, 0, 0, .02);
}


.hamburger-lines {
    position: relative;
    width: 60%;
    height: var(--hamburger-line-height);
    transition: transform var(--hamburger-animation-speed) ease-out;
}

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
    background: var(--hamburger-line-color);
    border-radius: 0px;
}

.hamburger-lines::before,
.hamburger-lines::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: transform var(--hamburger-animation-speed) ease-out;
}

.hamburger-lines::before {
    transform: translateY(-200%);
}

.hamburger-lines::after {
    transform: translateY(200%);
}

/*Animation classes*/
.hamburger-lines.active {
    transform: rotate(-180deg);
    background: rgba(255, 255, 255, 0);
}

.hamburger-lines.active::before {
    transform: translateY(0) rotate(-45deg);
}

.hamburger-lines.active::after {
    transform: translateY(0) rotate(45deg);
}




/*   toggle button css*/


